:root{
    --text: #ffff;
    --title: #545253;
    --fondo: #F6EAE0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #ffff;

}

header{
    text-align: center;
    color: var(--title);
    font-size: 1.13rem;
    background-color: #767676;
    color: var(--text);
    display: flex;
    justify-content: center;

   
}

.logo_Inicial{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 20px 35% ;
}
.logo_Inicial img{
    padding: 10px;
 
}
.logo_Inicial .buscador img{
height: 25px;
padding: 20px 10px 10px 0px;
}

.menu_busqueda{
  
    justify-content: center;
    text-align: center;
    padding: 10px 30px 50px 30px;
}

.menu_busqueda a{
    font-size: 1.1em;
    text-decoration: none;
    justify-content: center;
    color: var(--text);
    padding: 00px 30px 200px 30px;
    color: var(--title);
}
.menu_busqueda a:hover{
   text-decoration-line: underline;
   
}

label{
    padding: 10px;
   }
   .container{
   
    padding: 100px 20px ;
   }
   .container input{
       margin: 5px;
       padding: 10px;
   }
   .container *{
    box-sizing: border-box;
   }.container{
       width: 80%;
       max-width: 1200px;
       margin: 0 auto;
   }
   
   .flex-outer,
   .flex-inner{
       list-style-type: none;
       padding: 0;
   
   
   }
   .flex-outer{
       max-width: 800px;
       margin: 0 auto;
       
   }
   
   .flex-outer li,.flex-inner{
       
       display: flex;
       flex-wrap: wrap;
       align-items: center;
   }
   
   .flex-inner{
       padding: 0 8px;
       justify-content: space-between;
   }
   .flex-outer > li:not(:last-child){
       margin-bottom: 3%;
   }
   
   .flex-outer li label, 
   .flex-outer li p{
       padding: 8px;
       font-weight: 300;
       letter-spacing: .09em;
       text-transform: uppercase;
   }
   
   .flex-outer > li > label,
   .flex-outer li p{
       flex: 1 0 120px;
       max-width: 220px;
   }
   
   .flex-outer > li >label + *,
   .flex-inner{
       flex: 1 0 220px;
   }
   .flex-outer button{
    background: #A4855A;
       color: white;
       align-items: end;
       margin: 0px  750px;
       padding: 8px 40px;
       font-weight: 300;
       letter-spacing: .09em;
       text-transform: uppercase;
   }
   



.final{
    background-color: #B9B9B9;
    color: var(--text);
    border: 0px;
    padding: 20px 100px 0px 100px;
    margin: 0px;
}
footer{
  display: flex;
    background-color: #B9B9B9;
    color: var(--text);
  padding-top: 5%;
    
}
.final a{
 text-decoration: none; 
 color: var(--text);
 flex-direction: row;
 padding: 10px 0px 10px 10px;

}
.final a:hover{
    color:red;
}
.mas_info{
    display: initial ;
    color: var(--text);
    padding: 20px 100px 100px 0px ;
}
.final a{
    padding: 10px 10px 10px 0px;
    
}
footer input{
    
    padding: 10px 70px 10px 70px;
    border-color: #EFFFFE;
    border-radius: 5em 0em 0em 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 0.9em;
 
}

footer button{
    padding: 9px 20px 11px 20px;
    border-color: #A4855A;
    border-radius: 0em 5em 5em 0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 0.9em;
    background: #A4855A;
}

.icons{
    padding: 50px 0px 01px 0px;
}